{% extends "esd/base.html" %}
{% load static %}

{% block title %}
    <title>Восстановление пароля</title>
{% endblock title %}

{% block content %}
<h3>Восстановление пароля</h3>
<p>Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как установить новый пароль.</p>

<form method="post" action="{% url 'password_reset' %}">
    {% csrf_token %}
    <div class="form-row field-email">
        {{ form.email.errors }}
        <label for="id_email">Адрес электронной почты:</label>
        {{ form.email }}
    </div>
    <button class="btn btn-success">Восстановить мой пароль</button>
</form>

{% endblock %}
